In [7]:
# arithmetic operations on Series :

from pandas import Series

series1 = Series([1, 2, 3, 4, 5])
series2 = Series([100, 200, 300, 400, 500, 600])

In [8]:
# Addition :

series1 + series2

# if an index of series doesnot have a match in another series then, 
# it display NaN(Not a Number).

0    101.0
1    202.0
2    303.0
3    404.0
4    505.0
5      NaN
dtype: float64

In [15]:
# arithmetic operations on DataFrames :

from pandas import DataFrame
data1 = {'speed': [100, 200, 300],
        'temp': [34, 23, 56],}
frame1 = DataFrame(data1)
frame1

   speed  temp
0    100    34
1    200    23
2    300    56

In [16]:
data2 = {'speed': [400, 500, 500],
        'temp': [84, 53, 76],
        'humidity': [12, 45, 78]
        }
frame2 = DataFrame(data2)
frame2

   speed  temp  humidity
0    400    84        12
1    500    53        45
2    500    76        78

In [17]:
# Addition

frame1 + frame2

# if an index of DataFrame doesnot have a match in another DataFrame then, 
# it display NaN(Not a Number).

   humidity  speed  temp
0       NaN    500   118
1       NaN    700    76
2       NaN    800   132